<%- include('./partials/header'); %>

<section class="home">
</section>
<div class="my-5">
  <h2 class="myH2">What is this place?</h2>
  <p class="myP">The social network for lovers of discovery, nature and cultural places!</p>
</div>
<div class="container_search">
  <input type="text" placeholder="Search...">
  <div class="search"></div>
</div>
<a href="#" class="text-decoration-none text-dark">
<div class="d-flex align-content-between justify-content-center flex-wrap">
  <% for (let i = 0; i < wits.length; i++) { %>
  <div class="card m-3">
    <img src="<%= wits[i].imageUrl %>" class="card-img-top" alt="place picture" style="object-fit: cover;">
    <div class="card-body overflow-hidden">
      <h3 class="card-title font-weight-bold"><%= wits[i].title %></h5>
      <p class="card-text"><%= wits[i].description %></p>
    </div>
    <div class="card-footer text-muted">
      <%= wits[i]._id %>
    </div>
  </div>
  <%}%>
</div></a>

<%- include('./partials/footer'); %>
